---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body { color: #fff; background-color: #171921; }

/** Links */
a { color: #fff; text-decoration: underline; }
a:visited { color: #eee; }
a:hover { color: #aaa; text-decoration: underline; }

.site-title, .site-title:visited { color: #fff }

pre, code { background: #000; border: 1px solid #393d51; }

.highlighter-rouge .highlight { background: #000; }

.share-icon { width: 20px; }

.half-page-image { width: 350px; }